@keyframes swing {
  0%,
  100% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }
}

@keyframes swing2 {
  0%,
  100% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
}
