.section {
  background-color: #000;
  height: 500px;
  line-height: 500px;
  font-family: "Shrikhand", "cursive";
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}

/*loader quart de cercle*/

.loader-doat {
  border-radius: 50px;
  border: 6px solid rgb(255, 255, 255, 0.4);
}

.loader-doat::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border-top: 6px solid transparent;
  border-top: color #fff;
  /*indique que cette élément vas avoir l'animation*/
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear 0s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg); transform:  ;
  }

  100% {
    transform: rotate(360deg);
  }
}
