body,
html {
  margin: auto;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  position: relative;
  margin: auto;
}
@media (min-width: 64rem) {
  .container {
    overflow-x: scroll;
    margin: 0px;
  }
}

.header {
  position: relative;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media (min-width: 64rem) {
  .footer .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 1rem;
  }
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 64rem) {
  .footer__list {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 60%;
  }
}
.footer__listLi {
  margin: 0.5rem 0;
}
.footer__listLi:first-child {
  margin-top: 0;
}
.footer__listLi:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.menu {
  position: relative;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  margin-top: -4rem;
  margin: auto;
  /*animation coeur */
}
.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0 1rem;
  margin-top: -1.5rem;
}
.menu__title {
  font-family: "Shrikhand", "cursive";
}
.menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: transparent;
  background-color: black;
  border: transparent 0px solid;
  width: 2rem;
  height: 2rem;
  padding: 0;
  cursor: pointer;
}
.menu__btn:hover::before {
  opacity: 1;
}
.menu__btn::before {
  position: absolute;
  content: "";
  opacity: 0;
  transition: 0.5s;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}
.menu__like {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  mix-blend-mode: lighten;
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.menu__btn:hover .menu__like--noBg {
  opacity: 0;
}

/**************************************/
.header--withBackArrow {
  position: relative;
}
.header__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(-50%);
  font-size: 1.2rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  color: black;
}

.headerImg {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
}

.submenu {
  overflow: hidden;
  padding: 0 1rem;
  max-width: 100%;
}
.submenu__title {
  position: relative;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 0.5rem;
}
.submenu__title::after {
  content: "";
  position: absolute;
  background-color: #9356dc;
  left: 0;
  bottom: 0;
  height: 0.25rem;
  width: 3rem;
}

.menuItem {
  display: flex;
  background-color: white;
  overflow: hidden;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 1rem;
  margin: 1rem 0;
  max-width: 100%;
}
.menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuItem__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}
.menuItem__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
.menuItem__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  padding-left: 0.5rem;
}
.menuItem__confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
}
.menuItem:hover .menuItem__confirmation {
  margin-right: -1rem;
}
.menuItem__wrapIcon {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  transition-duration: 0.5s;
  border-radius: 100px;
  width: 1.6rem;
  height: 1.6rem;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
.menuItem__icon {
  color: #99e2d0;
}

.delay-0 {
  animation: itemAppear 2s;
}

.delay-1 {
  animation: itemAppear 3s;
}

.delay-2 {
  animation: itemAppear 4s;
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.commandBtn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.commandBtn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.commandBtn a {
  text-decoration: none;
  color: inherit;
}

.menu {
  position: relative;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  margin-top: -4rem;
  margin: auto;
  /*animation coeur */
}
.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0 1rem;
  margin-top: -1.5rem;
}
.menu__title {
  font-family: "Shrikhand", "cursive";
}
.menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: transparent;
  background-color: black;
  border: transparent 0px solid;
  width: 2rem;
  height: 2rem;
  padding: 0;
  cursor: pointer;
}
.menu__btn:hover::before {
  opacity: 1;
}
.menu__btn::before {
  position: absolute;
  content: "";
  opacity: 0;
  transition: 0.5s;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}
.menu__like {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  mix-blend-mode: lighten;
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.menu__btn:hover .menu__like--noBg {
  opacity: 0;
}

/**************************************/
.local {
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  background-color: rgb(243, 243, 243);
  font-size: 1.2rem;
  position: relative;
}
.local__icon {
  margin-right: 1rem;
}
.local__text {
  font-weight: 700;
}

.fonctionnement {
  padding: 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);
}
.fonctionnement__title {
  font-family: Roboto;
  font-size: 31px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.fonctionnement__subtitle {
  font-family: Roboto;
  font-size: 16px;
  line-height: 21.09px;
  text-align: center;
  font-weight: 300;
  margin: 1.8rem 0;
}
.fonctionnement__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.fonctionnement__btn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.fonctionnement__btn a {
  text-decoration: none;
  color: inherit;
}

.tuto__title {
  margin-left: 25px;
}
@media (min-width: 64rem) {
  .tuto__title {
    padding-left: 180px;
  }
}
.tuto__steps {
  padding: 0;
  margin: 25px 10px 50px 10px;
  list-style: none;
  font-weight: 500;
  counter-reset: compteListe;
}
@media (min-width: 64rem) {
  .tuto__steps {
    display: flex;
    padding: 10px 180px;
    width: 75%;
  }
}
.tuto__step {
  display: flex;
  position: relative;
  align-items: center;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  margin: 1rem 0 1rem 0.75rem;
  padding: 1.5rem;
}
@media (min-width: 64rem) {
  .tuto__step {
    flex: 1;
    margin: 0;
    margin-left: 2rem;
  }
  .tuto__step:first-child {
    margin-left: 0.75rem;
  }
}
.tuto__step:first-child {
  margin-top: 0;
}
.tuto__step:last-child {
  margin-bottom: 0;
}
.tuto__step::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: counter(compteListe) " ";
  counter-increment: compteListe 1;
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  color: white;
  left: -0.75rem;
}
.tuto__icon {
  margin-right: 1rem;
  color: #7e7e7e;
}
.tuto .fa-store {
  color: #9356dc;
}

.restaurants {
  background-color: rgb(250, 250, 250);
}
@media (min-width: 64rem) {
  .restaurants {
    padding: 40px 180px;
    background-color: #f6f6f6;
  }
}
.restaurants .restaurants__title {
  padding-top: 50px;
  margin-left: 25px;
}
@media (min-width: 64rem) {
  .restaurants .restaurants__title {
    padding-top: 0;
    margin: 0;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin: 15px 10px 50px 10px;
}
@media (min-width: 64rem) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 50px;
  }
}

.card {
  display: block;
  position: relative;
  color: inherit;
  text-decoration: none;
  background-color: white;
  border-radius: 1rem;
  width: 100%;
}
@media (min-width: 64rem) {
  .card {
    margin-block: 0;
  }
}
.card__img {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 64rem) {
  .card__img {
    width: 100%;
  }
}
.card__badge {
  position: absolute;
  background-color: #99e2d0;
  color: darken #99e2d0, 50%;
  border-radius: 0.125rem;
  top: 1rem;
  right: 0.75rem;
  padding: 0.5rem;
}
.card__footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
}
.card__footer a {
  text-decoration: none;
  color: black;
}
.card__content {
  flex: 1;
}
.card__title {
  margin: 0;
  margin-bottom: 0.25rem;
}
.card__subtitle {
  margin: 0;
}
.card__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: transparent 0px solid;
  padding: 0;
  width: 2rem;
  height: 2rem;
}
.card__like {
  background-color: white !important;
}

.menu {
  position: relative;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  margin-top: -4rem;
  margin: auto;
  /*animation coeur */
}
.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0 1rem;
  margin-top: -1.5rem;
}
.menu__title {
  font-family: "Shrikhand", "cursive";
}
.menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: transparent;
  background-color: black;
  border: transparent 0px solid;
  width: 2rem;
  height: 2rem;
  padding: 0;
  cursor: pointer;
}
.menu__btn:hover::before {
  opacity: 1;
}
.menu__btn::before {
  position: absolute;
  content: "";
  opacity: 0;
  transition: 0.5s;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}
.menu__like {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  mix-blend-mode: lighten;
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.menu__btn:hover .menu__like--noBg {
  opacity: 0;
}

/**************************************/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  --color: hsl(0deg 12.57% 15.42%);
  --animation: 4s ease-in-out infinite;
  animation: loader;
  animation-delay: 4s;
  animation-fill-mode: both;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.loader .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 2px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}
.loader .circle .circle:nth-child(2) {
  animation-delay: 0.3s;
}
.loader .circle .circle:nth-child(3) {
  animation-delay: 0.6s;
}
.loader .circle .circle:nth-child(4) {
  animation-delay: 0.9s;
}
.loader .circle .circle:nth-child(5) {
  animation-delay: 1.2s;
}
.loader .circle .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #9356dc;
  animation: dot-keys var(--animation);
}
.loader .circle .dot:nth-child(2) {
  animation-delay: 0.3s;
}
.loader .circle .dot:nth-child(3) {
  animation-delay: 0.6s;
}
.loader .circle .dot:nth-child(4) {
  animation-delay: 0.9s;
}
.loader .circle .dot:nth-child(5) {
  animation-delay: 1.2s;
}
.loader .circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: outline-keys var(--animation);
}
.loader .circle .outline:nth-child(1) {
  animation-delay: 0.9s;
}
.loader .circle .outline:nth-child(2) {
  animation-delay: 1.2s;
}
.loader .circle .outline:nth-child(3) {
  animation-delay: 1.5s;
}
.loader .circle .outline:nth-child(4) {
  animation-delay: 1.8s;
}
.loader .circle .outline:nth-child(5) {
  animation-delay: 2.1s;
}

@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes dot-keys {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px #ff79da;
    outline-offset: 0;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}
@keyframes loader {
  100% {
    display: none;
  }
}